@font-face {
    font-family: Figtree-SemiBold ;
    src: url(assets/fonts/static/Figtree-SemiBold.ttf);
}

@font-face {
    font-family: Figtree-ExtraBold ;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Figtree-SemiBold ;
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p
{
    font-size: 16px;
}

.card-wrapper
{
    width: 385px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 1.5px solid;
    box-shadow: 10px 10px;
}

.card-wrapper img
{
    width: 100%;
    border-radius: 20px;
}

article
{
    padding: 0px 0;
}
.details button
{

background-color: hsl(47, 88%, 63%);

padding: 8px 16px;

border: none;

border-radius: 5px;

font-family: Figtree-ExtraBold;

margin: 5px 0;

font-size: 15px;
}

.details {
    padding: 15px 0;
    /* display: flex; */
}

.details p
{
margin: 5px 0;
}

.info h1
{
    font-family: Figtree-ExtraBold;
    margin: 5px 0;
}

.info p
{
    color: hsl(0, 0%, 50%);
    margin: 15px 0;
    line-height: 1.5;
}

.profile
{

display: flex;

align-items: center;

padding: 5px 0;
}

.profile img
{

width: 35px;
}

.profile p
{
    font-family: Figtree-ExtraBold;
margin-left: 15px;
}

@media only screen and (max-width: 768px) {
    .card-wrapper {
        width: 360px;
    }
}